<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta id="token" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="headerName" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="/res/bootstrap.css"/>
    <script src="/res/bootstrap.js"></script>
    <title>Photogram / Firenulltre</title>
</head>
<body>
<div class="container">
    <h1>Enda ikke fotograf? Det fikser du fort!</h1>
    <p class="lead">Du kan registrere deg som fotograf ved å gå tilbake og trykke <kbd>Flere valg</kbd> og deretter
        trykke <kbd>Registrer som fotograf</kbd>. <a href="/">Gå tilbake</a> for å registrere deg. </p>

</div>
</body>
</html>