<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Bilder</title>
    <script>

        /*<![CDATA[*/

        function deleteBildefil(ele){
            var parentId = ele.parentNode.id;
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function(){
                if(xmlHttp.readyState == 4 && xmlHttp.status == 200){
                    ul = document.getElementById("bildeliste");
                    ul.removeChild(ele.parentNode);
                }
            };

            xmlHttp.open("POST", "/delete/"+parentId, true);
            xmlHttp.setRequestHeader("content-type", "application/x-www-form-urlencoded");
            xmlHttp.send();
        }

        /*]]>*/

    </script>

</head>
<body>
<h1> Dette er bildene som er lastet opp: </h1>
<ul id="bildeliste">
    <li th:each="l : ${liste}" th:id="${l.id}">
        <img th:src="${l.filnavn}" width="400"/><button onClick="deleteBildefil(this);">Slett bilde</button></li>
</ul>
</body>
</html>