<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
</head>
<body>
<form th:action="@{/NewUser}" method="post">
    <h3 class="font">  Her kan du opprette ny bruker med passord,
        dette er lagt til for enkelhets skyld  </h3>
    <div><input type="text" placeholder="fornavn" name="fornavn"/></div>
    <div><input type="text" placeholder="etternavn" name="etternavn"/></div>
    <div><input type="text" placeholder="Nytt Brukernavn" name="brukernavn"/></div>
    <div><input type="password" name="passord" placeholder="Nytt Passord"/></div>
    <div><input type="submit" value="Opprett" class="button"/></div>
</form>
<br/>
<form th:action="@{/login}" method="post">
    <div><input type="text" placeholder="Brukernavn" name="username"/></div>
    <div><input type="password" placeholder="Passord" name="password"/></div>
    <div><input type="submit" value="Logg inn" class="button"/></div>
</form>

</body>
</html>