<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <script src="http://fjos.net/js/jquery-3.1.1.min.js"></script>
    <script src="http://fjos.net/js/jquery.easy-autocomplete.min.js"></script>
    <link rel="stylesheet" href="http://fjos.net/js/css/easy-autocomplete.min.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>

    <script>
                /*<![CDATA[*/

                function deleteBildefil(ele){
                    var parentId = ele.parentNode.id;
                    console.log("Logg: "+ parentId);
                    var xmlHttp = new XMLHttpRequest();
                    xmlHttp.onreadystatechange = function(){
                        if(xmlHttp.readyState == 4 && xmlHttp.status == 200){
                            div = document.getElementById("fotograflak");
                            div.removeChild(ele.parentNode);
                        }
                    };

                    xmlHttp.open("POST", "/delete/"+parentId, true);
                    xmlHttp.setRequestHeader("content-type", "application/x-www-form-urlencoded");
                    xmlHttp.send();
                }

                $(document).ready(function () {
                    var options = {
                        url: "/sok",


                        getValue: "sok",

                        list: {
                            match: {
                                enabled: true
                            }
                        },
                        template: {
                            type: "links",
                            fields: {
                                link: "url"
                            }
                        }
                    };

                    $("#template-links").easyAutocomplete(options);

                });
        /*]]>*/
    </script>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div th:each="p : ${fotograf}" class="row" id="fotograflak">
        <div class="col-lg-4">
            <br/>
            <form action="/PAAddPhoto" enctype="multipart/form-data" method="POST">
                <input type="file" name="file" /><br />
                <input type="text" id="filnavn" name="tittel" /><br />
                <input type="submit" value="Legg til"/>
            </form>
        </div>
        <div class="col-lg-4" th:each="photo : ${p.photo}" th:id="${photo.id}">
            <br/>
            <img th:src="${photo.filnavn}" class="media-object" width="350" />
            <h2 th:text="${photo.tittel}"></h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <button class="btn btn-primary" onClick="deleteBildefil(this);">Slett bilde</button>
        </div>

    </div>
</div>
<div>
    <input id="template-links" placeholder="Søk" />
</div>


</body>
</html>