<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <script src="http://fjos.net/js/jquery-3.1.1.min.js"></script>
    <script src="http://fjos.net/js/jquery.easy-autocomplete.min.js"></script>
    <link rel="stylesheet" href="http://fjos.net/js/css/easy-autocomplete.min.css" />

    <script>
                /*<![CDATA[*/

                function deleteBildefil(ele){
                    var parentId = ele.parentNode.id;
                    console.log("Logg: "+ parentId);
                    var xmlHttp = new XMLHttpRequest();
                    xmlHttp.onreadystatechange = function(){
                        if(xmlHttp.readyState == 4 && xmlHttp.status == 200){
                            ul = document.getElementById("fotografliste");
                            ul.removeChild(ele.parentNode);
                        }
                    };

                    xmlHttp.open("POST", "/delete/"+parentId, true);
                    xmlHttp.setRequestHeader("content-type", "application/x-www-form-urlencoded");
                    xmlHttp.send();
                }

                $(document).ready(function () {
                    var options = {
                        url: "/sok",


                        getValue: "sok",

                        list: {
                            match: {
                                enabled: true
                            }
                        },
                        template: {
                            type: "links",
                            fields: {
                                link: "url"
                            }
                        }
                    };

                    $("#template-links").easyAutocomplete(options);

                });
        /*]]>*/
    </script>
    <title>Title</title>
</head>
<body>
<div th:each="p : ${fotograf}">
    <td th:text="${p.fornavn}"></td>
    <ul id="fotografliste">
        <li th:each="photo : ${p.photo}" th:id="${photo.id}">
            <td th:text="${photo.tittel}"></td>
            <img th:src="${photo.filnavn}" width="400" />
            <button onClick="deleteBildefil(this);">Slett bilde</button>
        </li>
    <form action="/PAAddPhoto" enctype="multipart/form-data" method="POST">
        <input type="file" name="file" /><br />
        <input type="text" id="filnavn" name="tittel" /><br />
        <input type="submit" value="Legg til"/>
    </form>
    </ul>
</div>
<div>
    <input id="template-links" />

</div>

</body>
</html>